<?xml version="1.0"?>

<model>
  <name>stack_light</name>
  <version>1.0</version>

  <sdf version="1.10">
    model.sdf
  </sdf>

  <author>
    <name>Osama</name>
    <email>osama@example.com</email>
  </author>

  <description>
    Three-color industrial operating-status stack light.
  </description>
</model>
