<?xml version="1.0"?>

<model>
  <name>safety_fence</name>
  <version>1.0</version>

  <sdf version="1.10">
    model.sdf
  </sdf>

  <author>
    <name>Osama</name>
    <email>osama@example.com</email>
  </author>

  <description>
    Industrial perimeter safety fence for the robotic sorting cell.
  </description>
</model>
