<?xml version="1.0"?>

<model>

  <name>conveyor</name>

  <version>1.0</version>

  <sdf version="1.10">
    model.sdf
  </sdf>

  <author>
    <name>Osama</name>
    <email>osama@example.com</email>
  </author>

  <description>
    Static conveyor with side rails, rollers, and a marked pickup zone.
  </description>

</model>
