<?xml version="1.0"?>

<model>
  <name>floor_markings</name>
  <version>1.0</version>

  <sdf version="1.10">
    model.sdf
  </sdf>

  <author>
    <name>Osama</name>
    <email>osama@example.com</email>
  </author>

  <description>
    Yellow safety boundary and red operator entrance marking.
  </description>
</model>
